
.container{
  /*background: conic-gradient(#ffffff 0.09turn 0.87turn, #a87670 0.27turn 0.6turn, #93c7ee 0.6turn 1turn);;*/

}
.robot.girl{
  transform:scale(var(--scalerobot)) translateY(calc(-15% + var(--scalerobot) * 800px / 3 ));
  border:none;

  .head{
    transform: perspective(500px) skewX(20deg) scale3d(1, 1, 1.5) rotateX(-20deg);
    box-shadow: 0px -40px 1em gold;
    background-color: #eee3bb;
    background-image: radial-gradient(circle at center, #cca486 0, #eee3bb 80%, gold 100%);
    width:calc(180px * var(--scalerobot));
    height:calc(180px * var(--scalerobot));
    left:calc(200px * var(--scalerobot));
    transform-origin: bottom center;
    border-radius:unset;
    animation-name: shakeHead;
    animation-duration: var(--tempokopf);
    animation-iteration-count: infinite;

  }
  .head::after{
    height:40px;
    width:80px;
    display:block;
    content: " ";
    bottom:-30px;
    left:calc(50% - 40px);
    position:absolute;
    background-color: #eee3bb;
    border-bottom: gold 10px solid;
  }

  .eye{
    width:calc(30px * var(--scalerobot));
    height:calc(30px * var(--scalerobot));
    border-radius:unset;
    background-color: #0e10ff;
    border:calc(10px * var(--scalerobot)) solid #33ec66;
    top:calc(55px * var(--scalerobot));
    left:calc(75px * var(--scalerobot));
    box-shadow: -5px -5px 1em #3cc1ff;
    z-index:50;


  }

  .eye--left{
    left:calc(90px * var(--scalerobot));
    transform:perspective(500px) skewX(-20deg) scale3d(1, 1, 1.5) translateX(calc(var(--scalerobot) * -50px  ));
  }
  .eye--right{
    left:calc(120px * var(--scalerobot));
    transform: perspective(500px) skewX(-20deg) scale3d(1, 1, 1.5);
  }

  .nose{
    width:calc(20px * var(--scalerobot));
    height:calc(40px * var(--scalerobot));
    background-color: rgba(246, 235, 187, 0.8);
    border-right: #ccac8f 5px solid;
    border-bottom: #ccac8f 5px solid;
    position:absolute;
    top:calc(80px * var(--scalerobot));
    left:calc(80px * var(--scalerobot));
    transform: perspective(50px) rotateX(30deg);
    z-index:10;
  }

  .mouth{
    width:calc(50px * var(--scalerobot));
    height:calc(20px * var(--scalerobot));
    top:calc(120px * var(--scalerobot));
    left:calc(70px * var(--scalerobot));
    border-radius:50%;
    border-bottom: #b00640 5px solid;
    /*border-left: #ed064e 5px solid;
    border-right: #ed064e 5px solid;*/
    box-shadow: 0 10px #ed064e;
    background-color:transparent;
    animation-name:mouth;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  .body{

    background-color: #E5E5F7;
    background-image: linear-gradient(45deg, #2b4af7 20%, #f79532 80%);
    background-size: 50px 50px;
    width:calc(250px * var(--scalerobot));
    height:calc(300px * var(--scalerobot));
    left:calc(180px * var(--scalerobot));
    top:calc(200px * var(--scalerobot));
    transform: perspective(500px) rotateX(20deg);
    transform-origin: top center;
    }

  .arm{
    width:calc(50px * var(--scalerobot));
    height:calc(310px * var(--scalerobot));
    background-color:#eee3bb;
    top:calc(200px * var(--scalerobot));
    border-radius:calc(25px * var(--scalerobot));

  }
  .arm--left{
    right:calc(370px * var(--scalerobot));
  }
  .arm--right{
    left:calc(380px * var(--scalerobot));
    transform-origin: top center;
    transform: rotate(-30deg);
   /* animation-name: turnArmes;
    animation-duration: var(--tempoarm);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;*/
  }

  .hand{
    background-color: #eee3bb;
    opacity: 1;
    /*background-image: radial-gradient(farthest-corner at 100% 100%, gold 0, #cca486, #eee3bb 100%);*/
    width:calc(60px * var(--scalerobot));
    height:calc(60px * var(--scalerobot));
    border-radius:calc(25px * var(--scalerobot));
    box-shadow: 10px 10px 0.3em gold;
  }

  .leg{
    width:calc(80px * var(--scalerobot));;
    height:calc(319px * var(--scalerobot));
    top:calc(480px * var(--scalerobot));
    background-color:#eee3bb;
    transform-origin: top center;
    background-image: linear-gradient(20deg, #cca486 0, #eee3bb 80%, gold 100%);
  }
  .leg--left{
    right:calc(320px * var(--scalerobot));
  }
  .leg--right{
    left:calc(320px * var(--scalerobot));
    animation-name:shakeLeg;
    animation-duration: var(--tempoarm);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

  }

  .foot{
    width:100px;
    height:50px;
    background-color: #ed064e;
    box-shadow: 10px 10px 0.3em #b40e2a;
  }
}

@keyframes shakeHead{
  0%{
    transform: perspective(500px) skewX(20deg) scale3d(1, 1, 1.5) rotateX(-20deg);
    box-shadow: 0px -40px 1em gold;
  }
  30%{
    transform: perspective(100px) skewX(0deg) skewY(20deg) scale3d(1, 1, 1) rotateX(0deg) rotateY(10deg);
    box-shadow: 0px -10px 1em gold;
  }
  100%{
    transform: perspective(500px) skewX(20deg) scale3d(1, 1, 1.5) rotateX(-20deg);
    box-shadow: 0px -40px 1em gold;
  }
}

@keyframes turnArmes{
  from{
    transform: rotate(-10deg);
  }
  to{
    transform: rotate(10deg);
  }
}


@keyframes shakeLeg{
  from{
    transform: rotate(-30deg) scaleY(0.7) skewY(20deg);


  }
  to{
    transform: rotate(0deg) scaleY(1) ;
  }
}


@keyframes mouth{
  from{
    border-radius:100%;
    border-bottom: #b00640 1px solid;
  }
  to{
    border-radius:0%;
    border-bottom: #b00640 10px solid;
  }
}
